<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.otus.laboratory.repository.TestResultRepository">

    <resultMap id="TestResultMap" type="ru.otus.laboratory.model.TestResult">
        <id property="id" column="ID"/>
        <result property="price" column="price"/>
        <result property="testTubeId" column="test_tube_id"/>
        <result property="orderResultId" column="order_result_id"/>
        <result property="staffId" column="staff_id"/>
        <result property="statusId" column="status_Id"/>
    </resultMap>

    <insert id="create" keyColumn="id" keyProperty="id" parameterType="ru.otus.laboratory.model.TestResult">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            SELECT nextval('test_result_seq')
        </selectKey>
        INSERT INTO test_result (id, price, test_item_id, order_result_id, status_id, staff_id)
        VALUES(#{id}, #{price}, #{testItemId}, #{orderResultId}, #{statusId}, #{staffId})
    </insert>
</mapper>
